html {
  background-color: #242423;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

ul {
  text-align: left;
}

li {
  margin: 5px;
}

body {
  all: unset;
  background-color: #242423;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  max-height: 100vh;
  min-height: 100vh;
  place-items: center
}

h1 {
  background-color: #242423;
  border-bottom: 1px solid #333533;
  color: #fff;
  height: 11%;
  margin: 0;
  text-align: center;
}

.content {
  all: unset;
  background-color: #242423;
  display: grid;
  grid-area: 3 / 1 / 10 / 10;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
  height: 89vh;
  min-height: 89vh;
}

.ahead-or-behind {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( #F25F5C, rgb(92, 242, 99));
  padding: 1%, 2%, 1%, 2%;
}

.box-text {
  padding: 1%, 2%, 1%, 2%;
}

.greeting {
  background-color: #242423;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.users {
  background-color: #242423;
  border-right: 1px solid #333533;
  color: #fff;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 21 / 5;
  height: 100%;
  text-align: center;
}

.user-info {
  align-items: center;
  background-color: #242423;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
}

.friends-names, .friend {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( #F25F5C, rgb(92, 242, 99));
  font-size: 12px;
}

.your-step-goal {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( #F25F5C, rgb(92, 242, 99));
  font-size: 12px;
}

.welcome {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmy 2s linear 3;
  background-image: linear-gradient( #F25F5C, rgb(92, 242, 99));
  font-size: 18px;
  margin-bottom: 1px;
}

@keyframes shimmy {

  10% {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  transform: rotate(.007turn);
  }
  20% {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
  }
  30% {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    transform: rotate(-.007turn);
  }
  40% {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  transform: rotate(.007turn);  }
  50% {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  transform: rotate(.007turn);  }
  60% {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100%;
    transform: rotate(-.007turn);  }
  70% {
    transform: rotate(0turn);
  }
}

.step-goal {
  background-color: #242423;
  border-radius: 5px;
  color: rgb(92, 242, 99);
  font-size: 12px;
}

.hydration {
  align-items: left;
  background-color: #242423;
  color: #fff;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 6 / 11 / 9;
  height: auto;
  justify-content: space-evenly;
}

.hydration-card {
  border: 1px solid #70C1B3;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  padding: 20px;
  width: 100%;
}

.sleep {
  align-items: left;
  background-color: #242423;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-area: 1 / 10 / 11 / 13;
  height: fit-content;
  justify-content: space-evenly;
  width: fit-content;
}

.sleep-card {
  border: 1px solid #F25F5C;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  margin-bottom: 10%;
  padding: 20px;
  width : 100%;
}

.activity {
  align-items: left;
  background-color: #242423;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-area: 1 / 14 / 11 / 21;
  height: fit-content;
  justify-content: space-evenly;
  margin-right: 10%;
  width: 95%;
}

.activity-card {
  border: 1px solid #FFE066;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  margin-bottom: 10%;
  padding: 20px;
  width: auto;
}

.leaders {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient( #F25F5C, rgb(92, 242, 99));
  margin-top: 5%;
}

.leaders-info {
  font-size: 10px;
}

.see-user-info {
  background-color: #242423;
  background-image: url(images/profile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px, 20px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline;
  height: 30px;
  height: 50px;
  margin-left: 35%;
  margin-right: 5%;
  outline: none;
  outline: none;
  width: 30px;
  width: 50px;
}

.see-user-info:hover {
  border: 1px solid rgb(92, 242, 99);
}
.see-user-info:focus {
  border: 1px solid rgb(92, 242, 99);
}

.see-leaders-btn {
  background-color: #242423;
  background-image: url(images/info.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px, 20px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline;
  height: 30px;
  margin-left: 5%;
  outline: none;
  width: 30px;
}

.see-leaders-btn:hover {
  border: 1px solid rgb(92, 242, 99);
}
.see-leaders-btn:focus {
  border: 1px solid rgb(92, 242, 99);
}

#set-date {
  background-color: #242423;
  border: 1px solid #333533;
  color: #fff;
  font-size: 8px;
  margin-top: 5%;
  padding: 5%;
  width: 80%;
}

#set-date:hover {
  border: 1px solid rgb(92, 242, 99);
  outline: none;
}
#set-date:focus {
  border: 1px solid rgb(92, 242, 99);
  outline: none;
}

.set-date-button {
  background-color: #242423;
  border: 1px solid #333533;
  color: #fff;
  font-size: 8px;
  height: 20%;
  padding: 1%;
  width: 86.5%;
}

.set-date-button:hover {
  border: 1px solid rgb(92, 242, 99);
  outline: none;
}
.set-date-button:focus {
  border: 1px solid rgb(92, 242, 99);
  outline: none;
}

.scripts {
  display: none;
}

.hide {
  display: none;
}
