html {
  background-color: #242423;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

ul {
  text-align: left;
}

li {
  margin: 5px;
}

body {
  all: unset;
  background-color: #242423;
  font-family: 'Open Sans', sans-serif;
  max-height: 100vh;
  min-height: 100vh;
  place-items: center;
  font-size: 16px 
}

h1 {
  background-color: #242423;
  border-bottom: 1px solid #333533;
  color: #fff;
  height: 11%;
  margin: 0;
  text-align: center;
}

.content {
  all: unset;
  background-color: #242423;
  min-height: 89vh;
  display: grid;
  grid-area: 3 / 1 / 10 / 10;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
  height: 89vh;
}

.ahead-or-behind {
  padding: 1%, 2%, 1%, 2%;
}

.box-text {
  padding: 1%, 2%, 1%, 2%;
}

.greeting {
  background-color: #242423;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.users {
  background-color: #242423;
  border-right: 1px solid #333533;
  color: #fff;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 21 / 5;
  height: 100%;
  text-align: center;
}

.user-info {
  align-items: center;
  background-color: #242423;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
}

.friends-names, .friend {
  font-size: 12px;
}

.your-step-goal {
  font-size: 12px;
}

.welcome {
  font-size: 18px;
}

.step-goal {
  background-color: #242423;
  border-radius: 5px;
  color: rgb(92, 242, 99);
  font-size: 12px;
}

.hydration {
  align-items: left;
  background-color: #242423;
  color: #fff;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 6 / 11 / 9;
  height: auto;
  justify-content: space-evenly;
}

.hydration-card {
  border-radius: 5px;
  border: 1px solid #70C1B3;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  padding: 20px;
  width: 90%;
}

.sleep {
  align-items: left;
  background-color: #242423;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-area: 1 / 10 / 11 / 13;
  height: auto;
  justify-content: space-evenly;
}

.sleep-card {
  border: 1px solid #F25F5C;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  padding: 20px;
  width : 100%
}

.activity {
  align-items: left;
  background-color: #242423;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-area: 1 / 14 / 11 / 21;
  height: auto;
  justify-content: space-evenly;
}

.activity-card {
  border-radius: 5px;
  border: 1px solid #FFE066;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  padding: 20px;
  width: 90%;
}

.see-user-info {
  background-color: #242423;
  background-image: url(images/profile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px, 30px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  height: 50px;
  margin-left: 35%;
  outline: none;
  width: 50px;
}

.see-user-info:hover {
  border: 1px solid rgb(92, 242, 99);
}
.see-user-info:focus {
  border: 1px solid rgb(92, 242, 99);
}

.scripts {
  display: none;
}

.hide {
  display: none;
}


