html {
  background-color: #242423;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  /* background-color: #333533; */
  /* background-color: #70C1B3; */
  /* background-color: #F25F5C; */
  /* background-color: #FFE066; */
}

body {
  all: unset;
  background-color: #242423;
  font-family: 'Open Sans', sans-serif;
  max-height: 100vh;
  min-height: 100vh;
  place-items: center;  /* align-items: center; */
}

h1 {
  background-color: #242423;
  border-bottom: 1px solid #333533;
  color: #fff;
  height: 11%;
  margin: 0;
  text-align: center;
}

p {
  padding: 1%, 2%, 1%, 2%;
}

.content {
  all: unset;
  background-color: #242423;
  min-height: 89vh;
  display: grid;
  grid-area: 3 / 1 / 10 / 10;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(10, 10%);
  height: 89vh;
}

.ahead-or-behind {
  padding: 1%, 2%, 1%, 2%;
}

.box-text {
  padding: 1%, 2%, 1%, 2%;
}

.greeting {
  background-color: #242423;
  color: #fff;
  font-size: 24px;
  grid-area: 1 / 6 / 2 / 21;
  text-align: center;
}

.users {
  background-color: #242423;
  border-right: 1px solid #333533;
  /* border-radius: 5px; */
  /* box-shadow: 0px 0px 10px -5px #fff; */
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  grid-area: 1 / 1 / 21 / 5;
  text-align: center;
  height: 100%;
}

.user-info {
  border-radius: 5px;
  align-items: center;
  background-color: #242423;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  justify-content: space-evenly;
  height: auto;
}

.friends-names, .friend {
  font-size: 12px;
}

.your-step-goal {
  font-size: 12px;
}

.welcome {
  font-size: 18px;
}

.step-goal {
  background-color: #242423;
  border-radius: 5px;
  font-size: 12px;
  color: rgb(92, 242, 99);
}

.hydration {
  align-items: center;
  background-color: #242423;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  grid-area: 1 / 6 / 11 / 9;
  justify-content: space-evenly;
  height: auto;
}

.hydration-data {
  border: 1px solid #70C1B3;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}

.todays-hydration {
  border: 1px solid #70C1B3;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}

.weekly-hydration {
  border: 1px solid #70C1B3;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}


.sleep {
  align-items: center;
  background-color: #242423;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  grid-area: 1 / 10 / 11 / 13;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
}

.sleep-data {
  border: 1px solid #F25F5C;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}

.sleep-hours {
  border: 1px solid #F25F5C;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}

.sleep-quality {
  border: 1px solid #F25F5C;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}

.weekly-sleep {
  border: 1px solid #F25F5C;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}

.activity {
  align-items: center;
  background-color: #242423;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 8px;
  grid-area: 1 / 14 / 11 / 21;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: auto;
}

.activity-data {
  border: 1px solid #FFE066;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}

.activity-miles {
  border: 1px solid #FFE066;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}

.activity-minutes {
  border: 1px solid #FFE066;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}

.activity-steps {
  border: 1px solid #FFE066;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}

.activity-compare {
  border: 1px solid #FFE066;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px #fff;
  height: auto;
  text-align: center;
  width: 90%;
}

.see-user-info {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 35%;
  background-color: #242423;
  color: #fff;
  background-image: url(images/profile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px, 30px;
  outline: none;
  cursor: pointer;
}

.see-user-info:hover {
  border: 1px solid rgb(92, 242, 99);
}
.see-user-info:focus {
  border: 1px solid rgb(92, 242, 99);
}


.scripts {
  display: none;
}

.hide {
  display: none;
}
